<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palestra desconfirmada!</title>
  </head>
  <body>
    <h1
      style="
        border: solid;
        border-color: black;
        background-color: brown;
        color: aliceblue;
      "
    >
      Palestra confirmada!
    </h1>
    <br />
    <div style='background: #f8f288'>
        <h3>
        Olá, <span style="color: blue">{{name}}!</span>!</h3>
        </br> 
        <h4>Sua palestra {{title}}, cadastrada no evento {{meet_title}}, foi <strong>desconfirmada<strong>!</h4>
        <br />        
    </div>
  </body>
  <footer>
    <p
      style="
        border-style: dotted;
        border-color: black;
        background-color: blue;
        flex: 100%;
        position: fixed;
        width: 100%;
        color: azure;
        text-align: center;
      "
    >
      2024
    </p>
  </footer>
</html>
