<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação de palestra!</title>
  </head>
  <body>
    <h1
      style="
        border: solid;
        border-color: black;
        background-color: brown;
        color: aliceblue;
      "
    >
      Você agora é organizador!
    </h1>
    <br />
    <div style='background: #f8f288'>
        <h2>
        Olá, <span style="color: blue">{{manager_name}}!</span>!</h2>
        </br>
        <h3> Você agora é organizador do Conecta Cubos. A seguir, seu token de acesso.</h3>
        <h4>Fique de olhos nos e-mails, pois será avisado quando um evento for criado para você organizar.</h4>
        <br />
        <ul>
            <li>Seu token de acesso: {{token}}</li>
        </ul>
    </div>
  </body>
  <footer>
    <p
      style="
        border-style: dotted;
        border-color: black;
        background-color: blue;
        flex: 100%;
        position: fixed;
        width: 100%;
        color: azure;
        text-align: center;
      "
    >
      2024
    </p>
  </footer>
</html>
